@charset 'utf-8';


:root{
    --mainbgcolor:#1BA38E;
    --footermozicolor:#ffffff;
}
body{

}
h1{
    size: 2.5rem;
    color: var(--mainmozicolor);
    font-family: 'Arial', cursive;
}
p{
    color: var(--mainmozicolor);
    font-family: 'Arial', cursive;

}

.PR {
    width:60rem;
    margin: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxPR{
    width:60%;
    padding: 1%;
    margin-bottom: 1%;
    border-style: solid;
    border-color: var(--mainbgcolor);
    border-width: thin;
    box-sizing: border-box;
}
.boxPR p {
    color: var(--mainmozicolor);
    font-family: 'Arial', cursive;
}

